{% extends 'experiences/base.html' %}
{% load static %}

{% block content %}

     <div class="theme-hero-area _h-desk-100vh">
      <div class="theme-hero-area-bg-wrap">
        <div class="theme-hero-area-bg" style="background-image:url({% static "img/bve-xl2eqku_1500x800.jpg" %});" id="hero-banner"></div>
        <div class="theme-hero-area-bg-pattern theme-hero-area-bg-pattern-strong" style="background-image:url({% static "img/patterns/ep_naturalblack.png" %});"></div>
        <div class="theme-hero-area-mask theme-hero-area-mask-half"></div>
        <div class="blur-area" data-bg-area="#hero-banner" data-blur-area="#hero-search-form" data-blur="20"></div>
      </div>
      <div class="theme-hero-area-body _pos-desk-v-c _w-f _pv-mob-60">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="theme-search-area _pt-desk-200 theme-search-area-stacked theme-search-area-white">
                <div class="theme-search-area-header _ta-c">
                  <h1 class="theme-search-area-title">Search for Experiences</h1>
                  <p class="theme-search-area-subtitle">Search hundreds of travel sites at once</p>
                </div>
                <div class="theme-search-area-form" id="hero-search-form">
                  <div class="row" data-gutter="none">
                    <div class="col-md-4 ">
                      <div class="theme-search-area-section first theme-search-area-section-curved">
                        <div class="theme-search-area-section-inner">
                          <i class="theme-search-area-section-icon lin lin-location-pin"></i>
                          <input class="theme-search-area-section-input typeahead" type="text" placeholder="Destination" data-provide="typeahead"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-7 ">
                      <div class="row" data-gutter="none">
                        <div class="col-md-4 ">
                          <div class="theme-search-area-section theme-search-area-section-curved">
                            <div class="theme-search-area-section-inner">
                              <i class="theme-search-area-section-icon lin lin-calendar"></i>
                              <input class="theme-search-area-section-input datePickerStart _mob-h" value="Wed 06/27" type="text" placeholder="Check-in"/>
                              <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-06-27" type="date"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 ">
                          <div class="theme-search-area-section theme-search-area-section-curved">
                            <div class="theme-search-area-section-inner">
                              <i class="theme-search-area-section-icon lin lin-calendar"></i>
                              <input class="theme-search-area-section-input datePickerEnd _mob-h" value="Mon 07/02" type="text" placeholder="Check-out"/>
                              <input class="theme-search-area-section-input _desk-h mobile-picker" value="2018-07-02" type="date"/>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4 ">
                          <div class="theme-search-area-section theme-search-area-section-curved quantity-selector" data-increment="Guests">
                            <div class="theme-search-area-section-inner">
                              <i class="theme-search-area-section-icon lin lin-people"></i>
                              <input class="theme-search-area-section-input" value="2 Guests" type="text"/>
                              <div class="quantity-selector-box" id="ExpSearchGuests">
                                <div class="quantity-selector-inner">
                                  <p class="quantity-selector-title">Guests</p>
                                  <ul class="quantity-selector-controls">
                                    <li class="quantity-selector-decrement">
                                      <a href="#">&#45;</a>
                                    </li>
                                    <li class="quantity-selector-current">1</li>
                                    <li class="quantity-selector-increment">
                                      <a href="#">&#43;</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-1 ">
                      <button class="theme-search-area-submit _mt-0 theme-search-area-submit-glow theme-search-area-submit-curved theme-search-area-submit-primary">
                        <i class="theme-search-area-submit-icon fa fa-angle-right"></i>
                        <span class="_desk-h">Search</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block section %}

      <div class="container">
        <div class="theme-page-section-header _ta-l">
          <h5 class="theme-page-section-title">Explore Expericences</h5>
          <p class="theme-page-section-subtitle">Discover travel expericences by category</p>
        </div>
        <div class="row row-col-gap" data-gutter="10">
          {% for category in category_list %}
            <div class="col-md-3 ">
              <div class="banner _br-4 banner-sqr banner-animate banner-animate-zoom-in banner-animate-very-slow banner-animate-mask-out">
                <div class="banner-bg" style="background-image:url({% static "media" %}/{{ category.image }});"></div>
                  <a class="banner-link" href="{% url 'category-detail' category.id %} "></a>
                  <div class="banner-caption _pt-60 banner-caption-bottom banner-caption-grad">
                    <h5 class="banner-title _tt-uc _fs-sm _fw-b">{{ category.title }}</h5>
                    <p class="banner-subtitle _fw-n">Condimentum parturient ornare</p>
                  </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

{% endblock section %}
{% block container %}


        <div class="theme-page-section-header _ta-l _mb-20">
          <h5 class="theme-page-section-title theme-page-section-title-sm">Best Expericences in New York</h5>
          <a class="theme-page-section-header-link _tt-n theme-page-section-header-link-rb" href="#">+ Find More</a>
        </div>

        <div class="theme-inline-slider row" data-gutter="10">
          <div class="owl-carousel" data-items="5" data-loop="true" data-nav="true">
            {% for experience in experience_list %}
            <div class="theme-inline-slider-item">
              <div class="banner _br-4 banner-sqr banner-animate banner-animate-mask-in">
                <div class="banner-bg" style="background-image:url({% static 'media' %}/{{ experience.image }});"></div>
                <div class="banner-mask"></div>
                <a class="banner-link" href="#"></a>
                <div class="banner-caption _ph-15 _pb-15 _pt-60 banner-caption-bottom banner-caption-grad">
                  <h5 class="banner-title _fw-b _fs-sm">{{ experience.title }}</h5>
                  <p class="banner-subtitle _fw-n _fs-sm _mt-5">{{ experience.price }}</p>
                </div>
              </div>
          </div>
          {% endfor %}

          </div>
        </div>
        <div class="theme-page-section _pb-0 theme-page-section-lg">
        <div class="theme-page-section-header _ta-l _mb-20">
          <h5 class="theme-page-section-title theme-page-section-title-sm">Best Expericences in Paris</h5>
          <a class="theme-page-section-header-link _tt-n theme-page-section-header-link-rb" href="#">+ Find More</a>
        </div>
        <div class="theme-inline-slider row" data-gutter="10">
          <div class="owl-carousel" data-items="5" data-loop="true" data-nav="true">
            <div class="theme-inline-slider-item">
              <div class="banner _br-4 banner-sqr banner-animate banner-animate-mask-in">
                <div class="banner-bg" style="background-image:url(img/eabrpsx4a1a_400x400.jpg);"></div>
                <div class="banner-mask"></div>
                <a class="banner-link" href="#"></a>
                <div class="banner-caption _ph-15 _pb-15 _pt-60 banner-caption-bottom banner-caption-grad">
                  <h5 class="banner-title _fw-b _fs-sm">Wine taste</h5>
                  <p class="banner-subtitle _fw-n _fs-sm _mt-5">$69 per person</p>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

</div>
{% endblock container %}